:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400; 
}

body{
  font-family: 'Oswald', sans-serif !important;
  background-color: var(--mainWhite);
  color:var(--mainDark);
  letter-spacing: .3rem;
}

.text-title{
  color:blue;
}

.card{
  border-color:transparent;
  transition:all 0.5s linear;
}

.card-footer{
  background:transparent;
  border-top:transparent;
  transition:all 0.5s linear;
}

.card:hover{
  border:0.06rem solid rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.card-footer{
  background:rgba(247,247,247);
}

.img-container{
  position: relative;
  overflow: hidden;
}
.card-img-top{
  transition:all 0.5s linear;
}
.img-container:hover .card-img-top{
  transform: scale(1.3);
}

.cart-btn{
  position: absolute;
  bottom:0;
  right: 0;
  border:none;
  background: var(--lightBlue);
  color:var(--mainWhite);
  border-radius: 0.5rem 0 0 0 ;
  transition: all 0.5s linear;
  transform: translate(100%,100%);
}

.img-container:hover .cart-btn{
  transform: translate(0,0);
}

.cart-btn:hover{
    color:var(--mainBlue);
    cursor: pointer;
}

.button1{
  background: transparent;
  color:blue;
  border:1px solid blue;
  border-radius:25px;
 
}

button:hover{
 
  color:var(--mainWhite);
  background-color: var(--lightBlue);

}
.title{
  color:blue
}
.modalContainer{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#modal{
  background: var(--mainWhite);
}